@media (min-width: 1025px) {
    .container {
        width: 70%;
    }

    body {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    body {
        font-size: 14px;
    }
}